{% extends "Url/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Shorten URL
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Shorten</button>
            <a class="btn btn-outline-info" href="{% url 'url-all'%}">All Urls</a>
        </div>
    </form>
</div>
{% endblock content %}
